<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark secondary-color" style="background-color: #4a148c!important">
    <a class="navbar-brand" href="/home/showvendor"><img src="assets/ustlogo.png" 
        alt="avatar image" height="40" width="100"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
      aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/home/showvendor" style="color:#ffff">Vendor Details
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <!-- <li class="nav-item">
            <button class="btn secondary-color" style="color:#ffff; background-color: #4a148c!important" (click)="showList()">Vendor Details</button>
        </li> -->
        
        
      </ul>
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
            <button class="btn secondary-color" style="color:#ffff;background-color: #4a148c!important" (click)="logout()"><i class="fas fa-sign-out-alt"></i>logout</button>
          
        </li>
        
      </ul>
    </div>
  </nav>
  <!--/.Navbar -->
 
<router-outlet></router-outlet>